@import 'config';
@import 'components/headings';
@import 'components/buttons';
@import 'components/navbar';
@import 'components/quote';
@import 'components/datepicker/datepicker';
@import 'components/datepicker/mixins';
@import 'components/datepicker/variables';

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header {
  height: 700px;
  background-image: linear-gradient(to right, rgba(20, 62, 146, 0.4) 20%, rgba(48, 152, 125, 0.5), rgba(0,0,0,0) 65%),
  url('/assets/images/header_image.jpeg');
  filter: brightness(95%);
  background-position: center;
  background-size: cover;

  .header-container {
    padding-top: 60px;
  }

  .headline {
    flex-shrink: 100;
    margin-right: 140px;
  }
}

.about {
  height: 800px;

  .about-stats {
    padding: 40px 40px 40px 40px;
    margin-right: 100px;
    width: 400px;
    height: 550px;
    background-color: $secondary;
    position: relative;

    p {
      color: white;
      font-weight: bold;
      margin-bottom: 40px;
    }
  }

  .about-stats::before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 50px solid white;
    border-left: 50px solid $secondary;
    width: 0;
  }

  .stat {
    font-size: 5rem;
  }

  .about-info {
    flex-shrink: 100;
  }
}

.services {
  height: 300px;
  background-color: rgba(245,245,245,1);

  .services-info {
    flex-shrink: 100;
    padding-top: 40px;
  }
}
