<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title>TransX</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" alt="TransX Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PAGES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SHOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ELEMENTS</a>
            </li>
          </ul>
        </div>
        <button class="btn btn-nav" href="#">Get a Quote</button>
      </div>
    </nav>
    <section class="header">
      <div class="container header-container">
        <div class="headline">
          <h1 class="text-white font-weight-bold mb-3">Worldwide Shipping</h1>
          <p class="text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis urna, aliquet ac vulputate vel, pulvinar nec nibh.
            </p>
            <button class="btn btn-primary">Explore More<i class="bi bi-arrow-right"></i></button>

          </div>
        <div class="react-quote" id="quote">

        </div>
      </div>
    </section>

    <section class="about">
      <div class="container about-container">
        <div class="about-stats">
          <h4><span class="stat">20</span> yrs</h4>
          <p>Experience in transportation</p>
          <h4><span class="stat">500</span> +</h4>
          <p>Skilled drivers in our fleet</p>
          <h4><span class="stat">2</span> billion</h4>
          <p>Miles driven per year</p>
        </div>
        <div class="about-info">
          <h3>ABOUT TRANSX</h3>
          <h2 class="font-weight-bold">The biggest Transportation Company in South region</h2>
          <p class="font-weight-bold">Sed id maximus lacus. Ut et ante pulvinar, laoreet velit in, varius sem. Donec id lacinia arcu, ut scelerisque dui.
          Mauris nec condimentum arcu.</p>
          <p>Sed id maximus lacus. Ut et ante pulvinar, laoreet velit in, varius sem. Donec id lacinia arcu, ut scelerisque dui.
            Mauris nec condimentum arcu. Etiam et nisi sed eros consequat condimentum. Nam iaculis aliquet ullamcorper.</p>
          <p>Sed id maximus lacus. Ut et ante pulvinar, laoreet velit in, varius sem. Donec id lacinia arcu, ut scelerisque dui.
            Mauris nec condimentum arcu. Etiam et nisi sed eros consequat condimentum. Nam iaculis aliquet ullamcorper.</p>
          <p>Sed id maximus lacus. Ut et ante pulvinar, laoreet velit in, varius sem. Donec id lacinia arcu, ut scelerisque dui.
            Mauris nec condimentum arcu.</p>
          <button class="btn btn-outline-primary">More About<i class="bi bi-arrow-right"></i></button>
        </div>
      </div>
    </section>
    <section class="services">
      <div class="container services-container">
        <div class="services-title">
          <h3>SERVICES</h3>
          <h2 class="font-weight-bold">Transporterium Services</h2>
        </div>
        <div class="services-info">
          <p><span class="font-weight-bold">Pellentesque ultricies mattis dui, vel elementum nisi tristique eget. Curabitur urna est, semper ac dolor at, commodo
          convallis odio. </span> Cras a lectus lacinia, egestas mauris non, posuere orci. Morbi elementum nisi nibh, eu pretium quam
          pellentesque id. Quisque venenatis tortor eget metus aliquet, ac faucibus augue gravida.</p>
          <button class="btn btn-outline-primary">All Services<i class="bi bi-arrow-right"></i></button>
        </div>
      </div>
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZnzia62Fo5IJR0BioNpk2wOnoVEGIgbk&libraries=places"></script>
  </body>
</html>
