<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>TransX</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" alt="TransX Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PAGES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SHOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ELEMENTS</a>
            </li>
          </ul>
        </div>
        <button class="btn btn-primary">Get a Quote</button>
      </div>
    </nav>
    <section class="header">
      <div class="container header-container pt-5">
        <div class="headline">
          <h1>Worldwide Shipping</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis urna, aliquet ac vulputate vel, pulvinar nec nibh.
            Cras tincidunt ipsum id tempor tempus.</p>
            <button class="btn btn-primary">Explore More</button>

          </div>
        <div class="react-quote" id="quote">

        </div>
      </div>
    </section>

    <section class="about">
      <div class="container about-container">

        <div class="about-stats">

        </div>
        <div class="about-info">
          <h3>ABOUT TRANSX</h3>
          <h2>The biggest Transportation Company in South region</h2>
          <p>Sed id maximus lacus. Ut et ante pulvinar, laoreet velit in, varius sem. Donec id lacinia arcu, ut scelerisque dui.
          Mauris nec condimentum arcu. Etiam et nisi sed eros consequat condimentum. Nam iaculis aliquet ullamcorper. Nam bibendum
          orci a nulla euismod posuere. Nam sollicitudin nisi non urna efficitur, at vestibulum enim pellentesque.</p>
          <p>Sed id maximus lacus. Ut et ante pulvinar, laoreet velit in, varius sem. Donec id lacinia arcu, ut scelerisque dui.
          Mauris nec condimentum arcu. Etiam et nisi sed eros consequat condimentum. Nam iaculis aliquet ullamcorper. Nam bibendum
          orci a nulla euismod posuere. Nam sollicitudin nisi non urna efficitur, at vestibulum enim pellentesque.</p>
          <p>Sed id maximus lacus. Ut et ante pulvinar, laoreet velit in, varius sem. Donec id lacinia arcu, ut scelerisque dui.
          Mauris nec condimentum arcu. Etiam et nisi sed eros consequat condimentum. Nam iaculis aliquet ullamcorper. Nam bibendum
          orci a nulla euismod posuere. Nam sollicitudin nisi non urna efficitur, at vestibulum enim pellentesque.</p>
          <p>Sed id maximus lacus. Ut et ante pulvinar, laoreet velit in, varius sem. Donec id lacinia arcu, ut scelerisque dui.
          Mauris nec condimentum arcu. Etiam et nisi sed eros consequat condimentum. Nam iaculis aliquet ullamcorper. Nam bibendum
          orci a nulla euismod posuere. Nam sollicitudin nisi non urna efficitur, at vestibulum enim pellentesque.</p>
          <button class="btn btn-secondary">More About</button>
        </div>
      </div>
    </section>
    <section class="services">
      <div class="container services-container">
        <div class="services-title">
          <h3>SERVICES</h3>
          <h2>Transporterium Services</h2>
        </div>
        <div class="services-info">
          <p>Pellentesque ultricies mattis dui, vel elementum nisi tristique eget. Curabitur urna est, semper ac dolor at, commodo
          convallis odio. Cras a lectus lacinia, egestas mauris non, posuere orci. Morbi elementum nisi nibh, eu pretium quam
          pellentesque id. Quisque venenatis tortor eget metus aliquet, ac faucibus augue gravida. Phasellus gravida quis enim
          iaculis gravida.</p>
          <button class="btn btn-secondary">More About</button>
        </div>
      </div>
    </section>
  </body>
</html>
